[Unit]
Description=matrix-puppet-facebook

[Service]
ExecStart=/path/to/matrix-puppet-facebook/start.sh
WorkingDirectory=/path/to/matrix-puppet-facebook

Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=matrix-puppet-facebook


EnvironmentFile=-/etc/default/my-application


LimitNOFILE=4096
IgnoreSIGPIPE=false
KillMode=process
User=matrix-synapse
ExecStop=/path/to/matrix-puppet-facebook/stop.sh

[Install]
WantedBy=multi-user.target